### from https://youtu.be/2e9wnwuAVv0

python3 -m pip install konlpy

!curl -O https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh

!source ./mecab.sh

In [ ]:
from konlpy.tag import Mecab

In [ ]:
tagger = Mecab()

In [ ]:
sentence = "언제나 현재에 집중할 수  있다면 행복합니다."
tagger.pos(sentence)

[('언제나', 'MAG'),
 ('현재', 'NNG'),
 ('에', 'JKB'),
 ('집중', 'NNG'),
 ('할', 'XSV+ETM'),
 ('수', 'NNB'),
 ('있', 'VV'),
 ('다면', 'EC'),
 ('행복', 'NNG'),
 ('합니다', 'XSA+EF'),
 ('.', 'SF')]

In [ ]:
tagger.morphs(sentence)

['언제나', '현재', '에', '집중', '할', '수', '있', '다면', '행복', '합니다', '.']

In [ ]:
tagger.nouns(sentence)

['현재', '집중', '수', '행복']

python3 -m pip install kss

In [ ]:
import kss
text = '진짜? 내일 뭐하지. 이렇게 애매모호한 문장도? 가능하다고 보이지 않아. 나는...'
kss.split_sentences(text)

['진짜? 내일 뭐하지.', '이렇게 애매모호한 문장도? 가능하다고 보이지 않아.', '나는...']

In [ ]:
!python3 -m pip install nltk konlp

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /home/freesky/.local/lib/python3.6/site-packages (3.6.2)
Requirement already satisfied: konlp in /home/freesky/.local/lib/python3.6/site-packages (0.0.24)
Requirement already satisfied: click in /usr/lib/python3/dist-packages (from nltk) (6.7)
Requirement already satisfied: joblib in /home/freesky/.local/lib/python3.6/site-packages (from nltk) (1.0.1)
Requirement already satisfied: regex in /home/freesky/.local/lib/python3.6/site-packages (from nltk) (2021.7.6)
Requirement already satisfied: tqdm in /home/freesky/.local/lib/python3.6/site-packages (from nltk) (4.61.2)
Requirement already satisfied: jpype1==1.2.0 in /home/freesky/.local/lib/python3.6/site-packages (from konlp) (1.2.0)
Requirement already satisfied: coveralls==1.1 in /home/freesky/.local/lib/python3.6/site-packages (from konlp) (1.1)
Requirement already satisfied: pytest-cov==2.4.0 in /home/freesky/.local/lib/python3.6/site-packages (from konlp) (2.4.0)
Requirement already satisfied: requests>=1.0.0 in /home/freesky/.local/lib/python3.6/site-packages (from coveralls==1.1->konlp) (2.26.0)
Requirement already satisfied: coverage>=3.6 in /home/freesky/.local/lib/python3.6/site-packages (from coveralls==1.1->konlp) (5.5)
Requirement already satisfied: docopt>=0.6.1 in /home/freesky/.local/lib/python3.6/site-packages (from coveralls==1.1->konlp) (0.6.2)
Requirement already satisfied: typing-extensions in /home/freesky/.local/lib/python3.6/site-packages (from jpype1==1.2.0->konlp) (3.7.4.3)
Requirement already satisfied: pytest>=2.6.0 in /home/freesky/.local/lib/python3.6/site-packages (from pytest-cov==2.4.0->konlp) (6.2.4)
Requirement already satisfied: py>=1.8.2 in /home/freesky/.local/lib/python3.6/site-packages (from pytest>=2.6.0->pytest-cov==2.4.0->konlp) (1.10.0)
Requirement already satisfied: importlib-metadata>=0.12 in /home/freesky/.local/lib/python3.6/site-packages (from pytest>=2.6.0->pytest-cov==2.4.0->konlp) (4.6.1)
Requirement already satisfied: packaging in /home/freesky/.local/lib/python3.6/site-packages (from pytest>=2.6.0->pytest-cov==2.4.0->konlp) (21.0)
Requirement already satisfied: toml in /home/freesky/.local/lib/python3.6/site-packages (from pytest>=2.6.0->pytest-cov==2.4.0->konlp) (0.10.2)
Requirement already satisfied: iniconfig in /home/freesky/.local/lib/python3.6/site-packages (from pytest>=2.6.0->pytest-cov==2.4.0->konlp) (1.1.1)
Requirement already satisfied: pluggy<1.0.0a1,>=0.12 in /home/freesky/.local/lib/python3.6/site-packages (from pytest>=2.6.0->pytest-cov==2.4.0->konlp) (0.13.1)
Requirement already satisfied: attrs>=19.2.0 in /home/freesky/.local/lib/python3.6/site-packages (from pytest>=2.6.0->pytest-cov==2.4.0->konlp) (21.2.0)
Requirement already satisfied: zipp>=0.5 in /home/freesky/.local/lib/python3.6/site-packages (from importlib-metadata>=0.12->pytest>=2.6.0->pytest-cov==2.4.0->konlp) (3.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/freesky/.local/lib/python3.6/site-packages (from requests>=1.0.0->coveralls==1.1->konlp) (1.26.6)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/freesky/.local/lib/python3.6/site-packages (from requests>=1.0.0->coveralls==1.1->konlp) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /home/freesky/.local/lib/python3.6/site-packages (from requests>=1.0.0->coveralls==1.1->konlp) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /home/freesky/.local/lib/python3.6/site-packages (from requests>=1.0.0->coveralls==1.1->konlp) (3.2)
Requirement already satisfied: pyparsing>=2.0.2 in /home/freesky/.local/lib/python3.6/site-packages (from packaging->pytest>=2.6.0->pytest-cov==2.4.0->konlp) (2.4.7)

In [ ]:
from nltk.tokenize import RegexpTokenizer
sentence = '안년하세요 ㅋㅋ 저는 자연어 처리(Natural Language Processing)ㄹ!! 배우고 있습니다.'
# tokenizer = RegexpTokenizer('[가-힣]+', gaps=True)
# [' ㅋㅋ ', ' ', ' ', '(Natural Language Processing)ㄹ!! ', ' ', '.']
tokenizer = RegexpTokenizer('[ㄱ-ㅎ]+', gaps=True)
tokenizer.tokenize(sentence)

['안년하세요 ', ' 저는 자연어 처리(Natural Language Processing)', '!! 배우고 있습니다.']

In [ ]:
from tensorflow.keras.preprocessing.text import text_to_word_sequence

In [ ]:
sentence = '성공의 비결은 단 한 가지, 잘할 수 있는 일에 광적으로 집중하는 것이다.'
text_to_word_sequence(sentence)

['성공의', '비결은', '단', '한', '가지', '잘할', '수', '있는', '일에', '광적으로', '집중하는', '것이다']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
corpus = ['Think like a man of action and act like man of thought.']

vector = CountVectorizer()
bow = vector.fit_transform(corpus)
vector.vocabulary_, bow.toarray(),

({'think': 6,
  'like': 3,
  'man': 4,
  'of': 5,
  'action': 1,
  'and': 2,
  'act': 0,
  'thought': 7},
 array([[1, 1, 1, 2, 2, 2, 1, 1]]))

In [ ]:
vector = CountVectorizer(stop_words='english')
bow = vector.fit_transform(corpus)
vector.vocabulary_, bow.toarray(),

({'think': 4, 'like': 2, 'man': 3, 'action': 1, 'act': 0, 'thought': 5},
 array([[1, 1, 2, 2, 1, 1]]))

In [ ]:
corpus = ['평생 살 것처럼 꿈을 꾸어라. 그리고 내일 죽을 것처럼 오늘을 살아라.']
vector = CountVectorizer()
bow = vector.fit_transform(corpus)
vector.vocabulary_, bow.toarray(),

({'평생': 8,
  '것처럼': 0,
  '꿈을': 3,
  '꾸어라': 2,
  '그리고': 1,
  '내일': 4,
  '죽을': 7,
  '오늘을': 6,
  '살아라': 5},
 array([[2, 1, 1, 1, 1, 1, 1, 1, 1]]))

In [ ]:
import re
from konlpy.tag import Mecab
tagger = Mecab()

corpus = '평생 살 것처럼 꿈을 꾸어라. 그리고 내일 죽을 것처럼 오늘을 살아라.'
tokens = tagger.morphs(re.sub('(\.)','',corpus))

In [ ]:
vocab = dict()
bow = list()
for tok in tokens:
    if tok not in vocab.keys():
        vocab[tok] = len(vocab)
        bow.insert(len(vocab)-1, 1)
    else :
        index = vocab.get(tok)
        bow[index] = bow[index]+1

vocab, bow

({'평생': 0,
  '살': 1,
  '것': 2,
  '처럼': 3,
  '꿈': 4,
  '을': 5,
  '꾸': 6,
  '어라': 7,
  '그리고': 8,
  '내일': 9,
  '죽': 10,
  '오늘': 11,
  '아라': 12},
 [1, 2, 2, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1])

DTM

In [ ]:
corpus = ['Think like a man of action and act like man of thought.',
         'Try not to become a man of success but rather try to become a man of value',
         'Give me liberty, of give me death']

vector = CountVectorizer()
# vector = CountVectorizer(stop_words='english')

bow = vector.fit_transform(corpus)
vector.vocabulary_, bow.toarray(),

({'think': 15,
  'like': 8,
  'man': 9,
  'of': 12,
  'action': 1,
  'and': 2,
  'act': 0,
  'thought': 16,
  'try': 18,
  'not': 11,
  'to': 17,
  'become': 3,
  'success': 14,
  'but': 4,
  'rather': 13,
  'value': 19,
  'give': 6,
  'me': 10,
  'liberty': 7,
  'death': 5},
 array([[1, 1, 1, 0, 0, 0, 0, 0, 2, 2, 0, 0, 2, 0, 0, 1, 1, 0, 0, 0],
        [0, 0, 0, 2, 1, 0, 0, 0, 0, 2, 0, 1, 2, 1, 1, 0, 0, 2, 2, 1],
        [0, 0, 0, 0, 0, 1, 2, 1, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0]]))

In [ ]:
columns = list()
for k,v in sorted(vector.vocabulary_.items(), key=lambda item:item[1]):
    columns.append(k)
columns

['act',
 'action',
 'and',
 'become',
 'but',
 'death',
 'give',
 'liberty',
 'like',
 'man',
 'me',
 'not',
 'of',
 'rather',
 'success',
 'think',
 'thought',
 'to',
 'try',
 'value']

In [ ]:
import pandas as pd
pd.DataFrame(bow.toarray(), columns=columns)

,act,action,and,become,but,death,give,liberty,like,man,me,not,of,rather,success,think,thought,to,try,value
0,1,1,1,0,0,0,0,0,2,2,0,0,2,0,0,1,1,0,0,0
1,0,0,0,2,1,0,0,0,0,2,0,1,2,1,1,0,0,2,2,1
2,0,0,0,0,0,1,2,1,0,0,2,0,1,0,0,0,0,0,0,0

# TF-IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(stop_words='english').fit(corpus)

tfidf.vocabulary_, tfidf.transform(corpus).toarray()

({'think': 7,
  'like': 4,
  'man': 5,
  'action': 1,
  'act': 0,
  'thought': 8,
  'try': 9,
  'success': 6,
  'value': 10,
  'liberty': 3,
  'death': 2},
 array([[0.311383  , 0.311383  , 0.        , 0.        , 0.62276601,
         0.4736296 , 0.        , 0.311383  , 0.311383  , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.52753275, 0.34682109, 0.        , 0.        , 0.69364217,
         0.34682109],
        [0.        , 0.        , 0.70710678, 0.70710678, 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        ]]))

In [ ]:
tfidf_array = tfidf.transform(corpus).toarray()
columns = list()
for k,v in sorted(tfidf.vocabulary_.items(), key=lambda item:item[1]):
    columns.append(k)
# columns
pd.DataFrame(tfidf_array, columns=columns)

,act,action,death,liberty,like,man,success,think,thought,try,value
0,0.311383,0.311383,0.000000,0.000000,0.622766,0.473630,0.000000,0.311383,0.311383,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.527533,0.346821,0.000000,0.000000,0.693642,0.346821
2,0.000000,0.000000,0.707107,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

Semantic Network Analysis

In [ ]:
%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
from nltk import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/freesky/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from nltk import word_tokenize, bigrams
sentence = 'I love data science and deep learning.'
tokens = word_tokenize(sentence)
tokens

['I', 'love', 'data', 'science', 'and', 'deep', 'learning', '.']

# Topic Modeling

In [ ]:
from sklearn.datasets import fetch_20newsgroups
dataset = fetch_20newsgroups(shuffle=True, random_state=1)

(sklearn.utils.Bunch,
 dict_keys(['data', 'filenames', 'target_names', 'target', 'DESCR']))

In [ ]:
type(dataset), dataset.keys(), dataset.target_names

(sklearn.utils.Bunch,
 dict_keys(['data', 'filenames', 'target_names', 'target', 'DESCR']),
 ['alt.atheism',
  'comp.graphics',
  'comp.os.ms-windows.misc',
  'comp.sys.ibm.pc.hardware',
  'comp.sys.mac.hardware',
  'comp.windows.x',
  'misc.forsale',
  'rec.autos',
  'rec.motorcycles',
  'rec.sport.baseball',
  'rec.sport.hockey',
  'sci.crypt',
  'sci.electronics',
  'sci.med',
  'sci.space',
  'soc.religion.christian',
  'talk.politics.guns',
  'talk.politics.mideast',
  'talk.politics.misc',
  'talk.religion.misc'])

In [ ]:
import pandas as pd

news_df = pd.DataFrame({'article':dataset.data})

In [ ]:
news_df.describe(), news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11314 entries, 0 to 11313
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   article  11314 non-null  object
dtypes: object(1)
memory usage: 88.5+ KB

(                                                  article
 count                                               11314
 unique                                              11314
 top     From: rolfe@dsuvax.dsu.edu (Tim Rolfe)\nSubjec...
 freq                                                    1,
 None)