In [ ]:
# bank dataset

In [ ]:
import pandas as pd

bank_data=pd.read_csv('./bank.csv', sep=';',)
# bank_data.info()

In [ ]:
bank_data = pd.get_dummies(bank_data, columns=['job','marital','education','default','housing','loan','contact','month','poutcome'])
# bank_data.boxplot()

In [ ]:
# bank_data.info()

In [ ]:
x = bank_data.drop(columns=['y'])
y = bank_data['y']
x.shape, y.shape
# x_train = x_train.astype('int')
# x_train.info()

((4521, 51), (4521,))

In [ ]:
import numpy as np
np.unique(y)
y = np.where(y == 'yes', 1, 0)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x); 
x = scaler.transform(x)
# creating a training/test set(80/20)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=42)

In [ ]:
import tensorflow as tf
from tensorflow import keras

metrics_nm=['accuracy', tf.keras.metrics.AUC()]

model=tf.keras.models.Sequential()
model.add(keras.layers.Input(shape=51))
model.add(keras.layers.Dense(128, activation='relu'))
model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(1, activation='sigmoid'))

model.compile(optimizer=keras.optimizers.Adam(lr=1e-3),
              loss=keras.losses.BinaryCrossentropy())

model.summary()

Model: "sequential_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_30 (Dense)             (None, 128)               6656
_________________________________________________________________
dropout_12 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_31 (Dense)             (None, 1)                 129
=================================================================
Total params: 6,785
Trainable params: 6,785
Non-trainable params: 0
_________________________________________________________________

In [ ]:
hist = model.fit(x_train, y_train, epochs=2)

Epoch 1/2
113/113 [==============================] - 0s 1ms/step - loss: 0.4848
Epoch 2/2
113/113 [==============================] - 0s 1ms/step - loss: 0.2684

In [ ]:
bank_data

      age            job  marital  education  ... pdays  previous poutcome   y
0      30     unemployed  married    primary  ...    -1         0  unknown  no
1      33       services  married  secondary  ...   339         4  failure  no
2      35     management   single   tertiary  ...   330         1  failure  no
3      30     management  married   tertiary  ...    -1         0  unknown  no
4      59    blue-collar  married  secondary  ...    -1         0  unknown  no
...   ...            ...      ...        ...  ...   ...       ...      ...  ..
4516   33       services  married  secondary  ...    -1         0  unknown  no
4517   57  self-employed  married   tertiary  ...    -1         0  unknown  no
4518   57     technician  married  secondary  ...    -1         0  unknown  no
4519   28    blue-collar  married  secondary  ...   211         3    other  no
4520   44   entrepreneur   single   tertiary  ...   249         7    other  no

[4521 rows x 17 columns]

In [ ]:
bank_data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
import numpy as np

np.unique(bank_data['job']),
np.unique(bank_data['marital'])

array(['divorced', 'married', 'single'], dtype=object)

In [ ]:
print('features: \n ', bank_data.columns.tolist())

features:
  ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

In [ ]:
bank_data.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
numeric_cols=['age','balance','day','duration','campaign','pdays','previous']
target_col=['y']
categorical_cols=bank_data.drop(columns=numeric_cols)

categorical_cols=[col for col in categorical_cols if col not in target_col+numeric_cols]
for col in categorical_cols:
  bank_data[col]=LabelEncoder().fit_transform(bank_data[col])

In [ ]:
categorical_cols

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome']

In [ ]:
x_cols=[]
for col in numeric_cols+categorical_cols:
  x_cols.append(col)

In [ ]:
x_cols

['age',
 'balance',
 'day',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome']

In [ ]:
x=bank_data[x_cols]
y=bank_data['y']

In [ ]:
print(x['job'].value_counts())
x['job']=x['job'].map({'management':0, 'blue-collar':1,'technician':2 ,'admin':3,
                       'services':4,'retired':5,'self-employed':6,'entrepreneur':7,
                       'unemployed':8,'housemaid':9,'student':10,'unknown':11})

print(x['job'].value_counts())

4     969
1     946
9     768
0     478
7     417
5     230
6     183
2     168
10    128
3     112
8      84
11     38
Name: job, dtype: int64
Series([], Name: job, dtype: int64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
x['marital'].value_counts()
x['marital']=x['marital'].map({'single':0, 'married':1, 'divorced':2})
x['marital'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Series([], Name: marital, dtype: int64)

In [ ]:
x['education'].value_counts()
x['education']=x['education'].map({'unknown':0, 'primary':1, 'secondary':2, 'tertiary':3})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
x['default'].value_counts(),
x['loan'].value_counts(),
x['housing'].value_counts()

yes_or_no_col=['default','loan','housing']
x['default']=x['default'].map({'yes':1, 'no':0})
x['loan']=x['loan'].map({'yes':1, 'no':0})
x['housing']=x['housing'].map({'yes':1, 'no':0})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
print(x['contact'].value_counts())
x['contact']=x['contact'].map({'unknown':0, 'cellular':1, 'telephone':2})
print(x['contact'].value_counts())

0    2896
2    1324
1     301
Name: contact, dtype: int64
Series([], Name: contact, dtype: int64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
print(x['month'].value_counts())
x['month']=x['month'].map({'jan':1, 'feb':2, 'mar':3, 'apr':4, 'may':5, 'jun':6, 'jul':7,
                           'aug':8, 'sep':9, 'oct':10, 'nov':11, 'dec':12})
print(x['month'].value_counts())

8     1398
5      706
1      633
6      531
9      389
0      293
3      222
4      148
10      80
11      52
7       49
2       20
Name: month, dtype: int64
Series([], Name: month, dtype: int64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
print(x['poutcome'].value_counts())
x['poutcome']=x['poutcome'].map({'unknown':0, 'failure':1, 'success':2, 'other':3})
print(x['poutcome'].value_counts())

3    3705
0     490
1     197
2     129
Name: poutcome, dtype: int64
Series([], Name: poutcome, dtype: int64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
y.value_counts()
y=y.map({'no':0, 'yes':1})
y.value_counts()

0    4000
1     521
Name: y, dtype: int64

In [ ]:
from sklearn.utils.class_weight import compute_class_weight
weights=compute_class_weight('balanced', np.unique(y), y)

In [ ]:
class_weight_02={0:weights[0], 1:weights[1]}
class_weight_01=dict(enumerate(weights))

In [ ]:
np.unique(y), class_weight_01, class_weight_02

(array([0, 1]),
 {0: 0.565125, 1: 4.338771593090211},
 {0: 0.565125, 1: 4.338771593090211})

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x); 
x = scaler.transform(x)
# creating a training/test set(80/20)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=42)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/extmath.py:765: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.6/dist-packages/sklearn/utils/extmath.py:706: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)

In [ ]:
x_train.shape, y_train.shape

((3616, 16), (3616,))

In [ ]:
colnum=x_train.shape[1]
colnum

16

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential

metrics_nm=['accuracy', tf.keras.metrics.AUC()]

model=tf.keras.models.Sequential([
                                  keras.layers.Input(shape=16),
                                  keras.layers.Dense(28, activation='relu'),
                                  keras.layers.Dropout(0.5),
                                  keras.layers.Dense(8, activation='relu'),
                                  keras.layers.Dropout(0.5),
                                  keras.layers.Dense(1, activation='sigmoid') ])
model.compile(optimizer=keras.optimizers.Adam(lr=1e-3),
              loss=keras.losses.BinaryCrossentropy(), metrics=metrics_nm)


hist = model.fit(x_train, y_train, batch_size=64, epochs=100)

In [ ]:
pred=model.predict(x_test)

weights=compute_class_weight('balanced', np.unique(y_train), y_train)
cl_weight={0:weights[0], 1:weights[1]}
weighted_hist=model.fit(x_train, y_train, batch_size=64, epochs=30, class_weight=cl_weight)
weighted_pred=model.predict(x_test)

In [ ]:
x_train